#product-overview {
    background: url('images/freedom.jpg') center/cover no-repeat border-box;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: left 10% bottom 20%; 
    background-origin: border-box; 
    background-clip: border-box;*/
    width: 100%;
    height: 33vh;
    padding: 10px;
    position: relative;
    overflow-y: hidden;
}

#product-overview h1 {
    position: absolute;
    bottom: 5%;
    left: 3%;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}




.section-title {
    color: #2ddf5c;
    text-align: center;
}



.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px 0;
    width: 100%;
}

.plan-recommended {
    background: #19b84c;
    color: white;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5); */
}

.plan-annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan-features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan-title {
    color: #0e4f1f;
}

.plan-price {
    color: #817d7d;
}

.plan-recommended .plan-title {
    color: white;
}

.plan-recommended .plan-price {
    color: #0e4f1f;
}

.plan-feature {
    margin: 8px 0;
}


#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
}

.key-features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    width: 100%;
}

.key-feature-image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto;
    padding: 20px;
}

.key-feature-description {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}

@media (min-width: 640px) {
    #product-overview {
        height: 40vh;
        background-position: 50% 25%;
    }

    #product-overview h1 {
        font-size: 32px
    }

    .plans-list {
        margin: 0 auto;
        text-align: center;
    }

    .plan {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        min-width: 200px;
        max-width: 300px;
    }

    .plan-recommended {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .key-feature{
        width: 30%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
    }
}